@media all and (max-width: 705px) {
  #app {
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
  }

  .noti-section {
    .title {
      padding: 4%;
      display: flex;
      font-size: 20px;

      .num {
        width: 30px;
        background-color: hsl(224, 68%, 34%);
        color: hsl(0, 0%, 100%);
        text-align: center;
        margin-left: 7px;
        border-radius: 10px;
        font-size: medium;
        font-weight: 800;
      }

      .btn {
        font-size: 15px;
        margin-left: auto;
        border: 0;
        color: hsl(219, 12%, 42%);
        background-color: hsl(0, 0%, 100%);
        cursor: pointer;
      }

      .btn:hover {
        color: hsl(224, 68%, 34%);
      }
    }
  }

  .noti-list {
    margin-left: 17px;
    margin-right: 17px;
    padding-bottom: 10px;

    .msg {
      margin-bottom: 10px;
      padding: 12px;
      background-color: hsl(210, 60%, 98%);
      display: flex;
      font-size: middle;
      color: hsl(219, 12%, 42%);
      border-radius: 10px;
    }

    .rd-msg {
      margin-bottom: 10px;
      padding: 12px;
      background-color: hsl(0, 0%, 100%);
      display: flex;
      font-size: middle;
      color: hsl(219, 12%, 42%);
      border-radius: 10px;
    }

    .msg:hover {
      cursor: pointer;
    }

    .user-img {
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }

    .msg-content {
      display: flex;
      padding: 2%;

      .title {
        font-size: small;
      }

      .bottom {
        border: 1px solid lightgray;
        padding: 2%;
        margin: 10px;
        font-size: small;
      }
    }

    .name {
      color: black;
      font-weight: 800;
      cursor: pointer;
    }

    .name:hover {
      color: hsl(224, 68%, 34%);
    }

    .postTitle:hover {
      cursor: pointer;
      color: hsl(224, 68%, 34%);
    }

    .alrt {
      font-size: 10px;
      margin-left: 7px
    }

    .pic {
      width: 40px;
      height: 40px;
      margin-left: auto;
      padding-left: 10px;
    }

    .ago {
      color: hsl(219, 14%, 63%);

    }

    .club {
      color: #0136a9;
      cursor: pointer;
    }

    .clb-msg {
      padding: 15px;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 10px;
      cursor: pointer;
    }

    .clb-msg:hover {
      background-color: hsl(205, 33%, 90%);
    }
  }
}